.loader {
    border: 10px solid #95024A;
    border-top: 10px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3.9s linear infinite;
    transform: translate(-10%, -10%);
    position: absolute;
    left: 50%;
    top: 40%;
}
